<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <h1>Student Login</h1>
    <form action="/students" method="post">
        <div>
            <label for="sl-studentId">Student Id</label>
            <input type="text" name="studentId" id="sl-studentId">
        </div>
        <div>
            <label for="sl-birthDate">Birth Date</label>
            <input type="date" name="birthDate" id="sl-birthDate">
        </div>
        <button type="submit">Veiw Marksheet</button>
    </form>
</body>

</html>