<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        <%= title %>
    </title>
</head>

<body>
    <main>
        <h1>Teacher Login</h1>
        <form action="/teachers" method="post">
            <div>
                <label for="teacherId">Teacher ID:</label>
                <input type="number" id="teacherId" name="teacherId">
            </div>
            <div>
                <label for="password">Password</label>
                <input type="password" name="password" id="password">
            </div>
            <button type="submit">Login</button>
        </form>
    </main>
</body>

</html>