@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: 'Share Tech Mono', monospace;
    font-size: 10px;
    color: #030303;
}

.auth-page {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.landing-title {
    margin: 1.5rem;
    font-size: 6rem;
    text-align: center;
}

.text-center {
    text-align: center;
}

.button-container {
    width: 20rem;
}

.button-action {
    font-family: 'Share Tech Mono', monospace;
    background-color: #030303;
    color: white;
    outline: none;
    border: none;
    border-radius: 3rem;
    margin: 1rem;
    padding: 1.5rem 2rem;
    font-size: 1.5rem;
    cursor: pointer;
}

.button-full-width {
    width: 100%;
}

.button-action:hover {
    box-shadow: 0 0 2px 1px #333;
}

header {
    border-bottom: 1px solid #030303;
    display: flex;
    justify-content: space-between;
}

.logo-container h1 {
    margin: 1rem;
    font-size: 3rem;
    word-spacing: -1rem;
}

.user-action-container {
    display: flex;
    align-self: center;
}

.address-display {
    font-size: 1.5rem;
    text-decoration: underline;
    align-self: center;
}

.button-header {
    border-radius: 2rem;
    margin: 1rem;
    padding: 1rem 2rem;
    font-size: 1.5rem;
}

nav {
    display: flex;
    flex: 1
}

ul {
    flex: 1;
    align-self: center;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none
}

li {
    text-align: center;
}

a {
    color: #030303;
    font-size: 1.5rem;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
    text-decoration: underline;
}